
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
}


.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 50px;
}


.movie {
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}


.movie::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.movie:hover::before {
  opacity: 1;
}

.movie img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.movie h2 {
  color: #0d0d0d;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.movie .rating {
  padding: 5px 10px;
  font-weight: 600;
  margin: 10px auto;
}


.read-more {
  background-color: #e50914;
  width: 100%;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s;
  z-index: 10;
  position: relative;
}

.read-more:hover {
  background-color: #000;
}

/* Responsive Layouts */

/* Extra Large Screens */
@media (min-width: 1200px) {
  .movie-wrapper {
    grid-template-columns: repeat(5, 1fr); 
  }
}

/* Medium to Large Screens */
@media (max-width: 1024px) {
  .movie-wrapper {
    grid-template-columns: repeat(3, 1fr); 
    padding: 30px;
  }
}

/* Small to Medium Screens */
@media (max-width: 768px) {
  .movie-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

/* Very Small Screens (Mobile) */
@media (max-width: 480px) {
  .movie-wrapper {
    grid-template-columns: 1fr; 
    padding: 10px;
  }

  .movie {
    padding: 15px;
  }

  .movie h2 {
    font-size: 1.2rem;
  }
  
  .read-more {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}
