
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    backdrop-filter: blur(10px);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow-x: hidden;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo {
    font-size: 2rem;
    color: #e50914;
    font-weight: bold;
    margin-right: 1rem; 
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 3rem; 
}

.search-bar {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}


.search-input {
    padding: 10px 20px;
    border: 2px solid #e50914;
    border-radius: 20px;
    width: 380px;
    font-size: 16px;
    outline: none;
    background: transparent;
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #ffeacc;
    box-shadow: 0 0 5px rgba(233, 9, 20, 0.5);
}


.search-button {
    padding: 10px;
    background-color: transparent;
    color: #e50914;
    border: 2px solid #e50914;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: rgba(233, 9, 20, 0.1);
    transform: scale(1.05);
}

.search-icon {
    font-size: 20px;
    margin-right: 5px;
}


.dropdowns {
    display: flex;
    gap: 1rem; 
    align-items: center; 
}

.dropdown {
    background: none;
    color: white;
    border: none; 
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0.5rem; 
}

.dropdown option {
    background-color: #444; 
    color: white; 
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column; 
    }

    .navbar-left {
        width: 100%; 
        justify-content: flex-start; 
        margin: 0 0 1rem 2rem; 
    }

    .navbar-right {
        margin-right: 2rem; 
    }

    .search-bar {
        align-items: stretch; 
        width: 100%; 
    }

    .search-input {
        width: 100%; 
    }

    .search-button {
        width: auto; 
        margin-top: 0; 
    }
}

@media (max-width: 768px) {
    .navbar-left {
        margin-left: 1rem; 
    }

    .navbar-right {
        margin-right: 1rem; 
    }
    .dropdowns {
        display: flex;
        gap: 1px;
        align-items: center;
        margin-right: 0.5rem;
        margin-top: 20px;
    
    }

    .search-bar {
        gap: 10px;
    }
}
